*{
  font-family: 'Open Sans', Helvetica;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cfn-logo{
  height: 3.5em;
}

.calculator-container{
  min-height: auto;
  margin-top: 200px;
  margin-bottom: 150px;
}

.health-form{
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

.navbar{
  height: 7em;
  background: white;
}

.navbar-right{
  padding-top: 25px;
  text-transform: uppercase;
  font-size: 13px;
}
.navbar-right .fa-twitter:hover{
  color: skyblue;
}
.navbar-right .fa-facebook:hover{
  color: #3b5998;
}

.embed-nav-button{
  font-size: 10px;
}

.navitem-divider{
  border-left: 1px solid #f5f5f5;
  padding: 15px 0px 0px 0px;
  width: 0px;
}

.sub {
  color: #999;
  font-size: 16px;
  margin-bottom: 30px;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
}

.post-form-paragraph{
  margin-top: 50px;
  margin-bottom: 10px;
}

.pre-form-heading{
  font-size: 50px;
  font-weight: 900;
  color: #0B5D97;
  margin-bottom: 20px;
}

.pre-form-paragraph {
  font-size: 20px;
}

.health-form input{
  border: 0px;
  border-bottom: 1px solid #b1bfd4;
  box-shadow: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
  color: #0B5D97;
}

.embed-code-input{
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #ccc;
  border-right: 0px;
}
.embed-code-input[readonly]{
  background-color: white;
}

.embed-copy-btn{
  background-image: linear-gradient(#fcfcfc,#eee);
  border: 1px solid #d5d5d5;
}

.global-average{
  font-size: 20px;
  font-weight: 200;
  color: #999;
  margin-bottom: 50px;
}

.calculation-result .pre-form-heading{
  margin-bottom: 40px;
}

.call-to-action{
  font-size: 40px;
  color: #CE4415;
  font-weight: 300;
}

.call-to-action:hover{
  text-decoration: none;
}

.assumption{
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.reset-calculator{
  cursor: pointer
}

.show-result-btn{
  padding: 11px 60px;
  background-color: #3cd682;
  border: none;
  color: white;
  font-weight: 700;
}
.show-result-btn[disabled],.show-result-btn:hover,
.show-result-btn[disabled]:hover, .show-result-btn:active, .show-result-btn:focus
{
  background-color: #5cb85c;
  color: white;
}

footer{
  background: #000;
  color:grey;
  font-size: 14px;
  padding: 50px 10%;
  padding-bottom: 8%;
}

footer h3{
  color: white;
  font-size: 14px;
}

footer hr{
  border: none;
  border-top: 1px solid #999;
  opacity: 0.4;
}

footer .social-icons{
  margin-top: 5%;
}

footer .built-by{
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer .sponsors{
  height: 50px;
  margin: 10px;
}

footer .fa-twitter-square {
  color: skyblue;
  margin-right: 10px;
}

footer .fa-github {
  color: white;
  margin-right: 10px;
}

footer .fa-facebook-square {
  color: #3B5998;
  margin-right: 10px;
}

.punch-ng-header{
  font-family: 'Frank Ruhl Libre', serif;
}

.punch-ng-body{
  font-family: 'Playfair Display', serif;
}

/* Language Switcher Styles */
.top-navigation{
  float: right;
  padding-top: 20px;
}

.language-switcher-btns{
  float: right;
  padding-top: 13px;
  margin-left: 5px;
}

.language-switcher-btns ul li{
  list-style: none;
  display: inline;
}

.language-switcher-btns ul li + li:before {
  content: " | ";
  font-size: 13px;
}

.language-switcher-btns ul li img{
  cursor: pointer;
}

.embed{
  margin-top: 0px;
  height: auto;
  min-height: 20vh;
  padding-top: 10px;
  padding-bottom: 30px;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.embed h1{
  font-size: 20px;
  margin-bottom: 5px;
}

.embed p {
  font-size: 15px;
}
